<a href="https://colab.research.google.com/github/elpinchepastel/e-confirming/blob/main/E_Confirming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#sln
import pandas as pd
from google.colab import files

In [ ]:
file_up = files.upload()

Saving EC.xlsm to EC (1).xlsm

In [ ]:
key, value = list(file_up.items())[0]

In [ ]:
name_file = str(key)
name_file = name_file.replace("'","")

In [ ]:
df = pd.read_excel(name_file, parse_dates=['Fec_factura','Fec_vencimiento', 'Fec_pago'])
df

,Nit_Pagador,ID_Proveedor,Nro_factura,Fec_factura,Id_Moneda,Vlr_Factura,Fec_vencimiento,Vlr_Cargos,Vlr_Descuentos,Vlr_Impuestos,Vlr_cruces,Vlr_pago,Tasa,Vlr_descuento,Vlr_negociado,Fec_pago,UUID
0,9009009001,9004841731,F011001,2020-06-15,COP,1000000.32,2020-07-15,0,0,0,0,1000000.32,NaN,NaN,NaN,2020-07-20,Sin cufe
1,9009009001,9004841731,F011001,2015-03-16,COP,1000000.00,2020-07-15,0,0,0,0,1000000.00,NaN,NaN,NaN,2020-07-20,Sin cufe
2,9009009001,9004841731,F011001,2016-02-28,COP,1000000.00,2020-07-15,0,0,0,0,1000000.00,NaN,NaN,NaN,2020-07-20,Sin cufe
3,9009009001,9004841731,F011001,2021-09-02,COP,1000000.00,2020-07-15,0,0,0,0,1000000.00,NaN,NaN,NaN,2020-07-20,Sin cufe

In [ ]:
df['Fec_factura'] = df['Fec_factura'].dt.strftime('%Y.%m.%d')
df['Fec_vencimiento'] = df['Fec_vencimiento'].dt.strftime('%Y.%m.%d')
df['Fec_pago'] = df['Fec_pago'].dt.strftime('%Y.%m.%d')
df

,Nit_Pagador,ID_Proveedor,Nro_factura,Fec_factura,Id_Moneda,Vlr_Factura,Fec_vencimiento,Vlr_Cargos,Vlr_Descuentos,Vlr_Impuestos,Vlr_cruces,Vlr_pago,Tasa,Vlr_descuento,Vlr_negociado,Fec_pago,UUID
0,9009009001,9004841731,F011001,2020.06.15,COP,1000000.32,2020.07.15,0,0,0,0,1000000.32,NaN,NaN,NaN,2020.07.20,Sin cufe
1,9009009001,9004841731,F011001,2015.03.16,COP,1000000.00,2020.07.15,0,0,0,0,1000000.00,NaN,NaN,NaN,2020.07.20,Sin cufe
2,9009009001,9004841731,F011001,2016.02.28,COP,1000000.00,2020.07.15,0,0,0,0,1000000.00,NaN,NaN,NaN,2020.07.20,Sin cufe
3,9009009001,9004841731,F011001,2021.09.02,COP,1000000.00,2020.07.15,0,0,0,0,1000000.00,NaN,NaN,NaN,2020.07.20,Sin cufe

In [ ]:
df.to_csv('download_file_name.csv', index=False,sep=';')

In [ ]:
files.download("download_file_name.csv")